<div class="container">
  <div class="navi">
    <div class="navi left">
      <button class="butt" routerLink="/products/list"> Aktualna oferta</button>
      <span [hidden]="!isClient">
        <span [hidden]="!isAgent">
        <button class="butt" routerLink="/client">Lista Klientów</button>
        </span>
        <span [hidden]="!isAdmin">
        <button class="butt" routerLink="/add/client">Dodaj klienta</button>
        </span>
        <span [hidden]="!isClient">
          <button class="butt" routerLink="/client/insurance">Lista Twoich Ubezpieczeń</button>
          <button class="butt" routerLink="/insurance/add">Zamów ubezpieczenie</button>
        </span>
      </span>
      <span [hidden]="!isMarketMan">
        <button class="butt" routerLink="/product">Zarządzaj ofertami klienta </button>
      </span>
    </div>
    <div class="navi right">
      <span [hidden]="isLoggedIn">
      <button class="butt" routerLink="/login">Sign in</button>
      </span>
      <span [hidden]="!isLoggedIn">
        <button class="butt" (click)="logout()" routerLink="/">Logout</button>
      </span>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>
