<div class="div5">
  <div class="div3">
  <div class="text">
    Lista wszystkich klientów firmy
  </div>
    <table class="table1">
      <thead>
      <tr>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Email</th>
        <th scope="col">Number Phone</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let client of client ">
        <td>{{ client.firstName}}</td>
        <td>{{ client.lastName }}</td>
        <td>{{ client.mail }}</td>
        <td>{{client.numberPhone}}</td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
