<div class="div5">
  <div class="logo" routerLink="" >ePolisa</div>
  <div class="form-style-2">
    <form (ngSubmit)="onSubmit()" >

      <label for="userName">Login</label>
      <input type="text" [(ngModel)]="credentail1.username"
             id="userName"
             name="userName"
             placeholder="Enter your login">
      <label for="password">Password</label>
      <input type="password" [(ngModel)]="credentail1.password"
             id="password"
             name="password"
             placeholder="Enter your password">
      <div>
        <p> You need an account? <a href="/register">Create</a> </p>
      </div>
      <div>
      <button class="butt2" type="submit" >Sign in</button>
      </div>
    </form>

  </div>
</div>
