<div class="div5">
  <div class="logo" routerLink="" >ePolisa</div>
  <div class="form-style-2">
    <form (ngSubmit)="onSubmit()" >

      <label for="userName">Login</label>
      <input type="text" [(ngModel)]="credentail1.username"
             id="userName"
             name="userName"
             placeholder="Wprowadz login">
      <label for="password">Hasło</label>
      <input type="text" [(ngModel)]="credentail1.password"
             id="password"
             name="password"
             placeholder="Wprowadz hasło">
      <div>
      <button class="butt2" type="submit" >Submit</button>
      </div>
    </form>

  </div>
</div>
