tbody {
  color: #685206;
  font-family: 'Helvetica Neue',
  sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}

.logo {
  color: #111;
  font-family: 'Helvetica Neue',
  sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  position: static;
}

.butt,
.butt2,
.butt3 {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin-right: 5px;
  margin-bottom: 2px;

}

.butt2 {
  padding: 8px;
}

.butt3 {
  font-size: 12px;
  background: #606060;
  padding: 10px;
  margin-left: 10px;
}

.butt:hover,
.butt2:hover,
.butt3:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

.butt2.steps {
  background: #666666;
  margin-left: 10%;
  border-radius: 27px;
}

.butt2.steps:hover {
  letter-spacing: normal;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  color: #ffffff !important;
}

.butt2.steps:disabled {
  background: #ffffff;
  color: #111 !important;
  border: thin black !important;
}

h1 {
  color: #111;
  font-family: 'Helvetica Neue',
  sans-serif;
  font-size: 250px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

h2 {
  color: #111;
  font-family: 'Open Sans',
  sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 72px;
  text-align: center;
}

p {
  color: #685206;
  font-family: 'Helvetica Neue',
  sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}

.container {
  width: 90%;
  margin: auto;
}

.table1 {
  border-spacing: 80px 1px;
  margin-bottom: 150px;
  margin-left: 5%;
  margin-right: 5%;
}


.div5 {
  font-family: 'Open Sans',
  sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 35px;
  margin: 0 0 72px;

  //margin-left: 20%;
  //margin-right: 20%;
}

.div3 {
  width: 60%;
  font-size: 16px;
  padding: 30px 30px 15px 30px;
  margin-left: 10%;

}

.div9 {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  //border-color: darkred;
  //border-width: thin;
  //border-style: dashed;
}

.navi {
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
  margin-left: 7%;
  margin-right: 7%;
  max-width: 80%;
}

.navi.left {
  margin-left: 0px;
  display: block;
  width: 90%;
}

.navi.right {
  width: 15%;
  margin-right: 0px;
  text-align: right;
  display: block;
}

//
//  Registration
//
.form-style-4 {
  width: 50%;
  font-size: 16px;
  padding: 30px 30px 15px 30px;
  margin-left: 20%;

}

.form-style-4 textarea,
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 input[type=password],
.form-style-4 label {
  font-family: Georgia, 'Helvetica Neue', Times, serif;
  font-size: 16px;
  color: #111;

}

.form-style-4 label {
  display: block;
  margin-bottom: 10px;
}

.form-style-4 label > span {
  display: inline-block;
  float: left;
  width: 50px;
}

.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 input[type=password] {
  margin-bottom: 30px;
  position: inherit;
  background: transparent;
  border: none;
  border-bottom: 1px dashed #83A4C5;
  width: 400px;
  outline: none;
  padding: 0px 0px 0px 0px;
  font-style: italic;
}

.form-style-4 textarea {
  font-style: italic;
  padding: 0px 0px 0px 0px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px dashed #83A4C5;
  width: 275px;
  overflow: hidden;
  resize: none;
  height: 20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=password]:focus {
  border-bottom: 1.5px dashed #ff0024;
}

//  Registration end
//
.div4{
  margin-top: 2%;
  width: 70%;
  //margin-left: 10%;
  margin-left: 25%;
  margin-right: 25%;
}

.table2 {

  width: 100%;
  border-spacing: 0;
  text-align: center;
  font-size: 16px;
  border-top-left-radius: 10px;

}

.table2 td,
.table2 th {
  width: 50%;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.table2 th {
  background-color: #606060;
  color: white;
  padding: 5px;

}

.table2 tr:hover {
  background-color: #f5f5f5;
}

.td1{
  letter-spacing: 1px;
}
.td2{
  font-size: 14px;
  letter-spacing: 1px;
}
