<div class="div5">
  <div class="div3">
    <div>
      Your insurance list
    </div>
    <div>
      <table>
        <thead>
        <tr>
          <th scope="col">Name insurance</th>
          <th scope="col">Value</th>
          <th scope="col">Date End </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let insurance of insurance">
          <td>{{ insurance.name}}</td>
          <td>{{insurance.price}}</td>
          <td>{{insurance.dateEnd}}</td>
          <td><a routerLink="/client/insurance">More</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
